[submodule "extern/Chipmunk2D"]
	path = extern/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/kazmath"]
	path = extern/kazmath
	url = https://github.com/Kazade/kazmath
[submodule "extern/extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
