[submodule "extern/googlemock"]
	path = extern/googlemock
	url = https://chromium.googlesource.com/external/googlemock
[submodule "extern/gtest"]
	path = extern/gtest
	url = https://chromium.googlesource.com/external/googletest
[submodule "extern/kazmath"]
	path = extern/kazmath
	url = https://github.com/Kazade/kazmath.git
[submodule "extern/Chipmunk2D"]
	path = extern/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D
