<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>c_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>dangerengine-fw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>dangerengine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>demo_objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>doc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>gmock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>gmock_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>gtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>gtest_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>kazmath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27ED40C5623A43C7A353112E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A7CECFD17FA4C14B790A7EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B5A1A86B8F445CCAB162E37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E8886422D2A4318B40374A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>633A1E9EA8724D3281468D0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72A384D46298413AAD4928E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77A320C439FF4838A2115867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DA63BEAFA9C4531AC4C1545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EC61593B4AC492E8BC6AC2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9536C2475DAB48B78257D5B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C32146A399748F5BA19D777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C01B1C064B5A4580A5DB499F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C23BEAD2289B402F83B7AE02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C526546352144F9DB096AABA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE3D65C400274C4383506A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCE1E37C8D164876B5F2A1E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
